{% extends 'www/base_layout.html' %}

{% block content %}
    <div id="content-wrapper">
        <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'index' %}">대시보드</a>
                </li>
                <li class="breadcrumb-item active">지원서 작성</li>
            </ol>

            <!-- Page Content -->
            <h1>지원서 작성</h1>
            <hr>
            <p>이 양식을 완성하세요.</p>
            <form class="forms-sample" method="post">
                {% csrf_token %}
                {{ application_form.as_p }}
                <button type="submit" class="btn btn-success mr-2">제출</button>
                {#                <button class="btn btn-light">취소</button>#}
            </form>
        </div>
    </div>
    {% block footer %}
        {{ block.super }}
    {% endblock %}
{% endblock %}

