{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <!-- unicode support -->
    <meta charset="UTF-8">
    <!-- mobile resolution -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- favicon -->
    {% block favicon %}
        <link rel="apple-touch-icon" href="{% static 'www/images/favicon.ico' %}">
        <link rel="icon" sizes="192x192" href="{% static 'www/images/favicon.ico' %}">
        <link rel="shortcut icon" href="{% static 'www/images/favicon.ico' %}">
        <meta name="msapplication-TileImage" content="{% static 'www/images/favicon.ico' %}">
    {% endblock favicon %}
    <!-- color system -->
    {% block color %}
        <meta name="theme-color" content="#FF9E1B">
        <meta name="msapplication-TileColor" content="#FF9E1B">
    {% endblock color %}
    {% block inject-css %}{% endblock inject-css %}
    <!-- title -->
    <title>{% block title %}Title{% endblock title %}</title>
</head>
<body data-spy="scroll" data-target="#navbar-example">

{% block nav %}
    <!-- nav -->
{% endblock nav %}

{% block face %}
    <!-- face -->
{% endblock face %}

{% block header %}
    <!-- header -->
{% endblock header %}

{% block content %}
    <!-- body -->
{% endblock content %}

{% block footer %}
    <!-- footer -->
{% endblock footer %}

{% block modal %}
    <!-- modal -->
{% endblock modal %}

{% block inject-js %}
    <!-- JavaScript Libraries -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
{% endblock inject-js %}

{% block js-function %}

{% endblock js-function %}
</body>
</html>
