{% extends 'www/base_nav.html' %}
{% block title %}
    ApplyIN :: 감시형 취업정보시스템
{% endblock title %}

{% block content %}
    <div id="content-wrapper">

        <div class="container-fluid">

            <!-- DataTables Example -->
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table"></i>
                    채용 정보
                </div>
                <div class="card-body">
                    <div class="table-responsive">

                        <div class="row">
                            {% for job in job_list %}
                                <div class="col-4">
                                    <div class="card card-custom bg-white border-white">
                                        <div class="card-custom-img">
                                            <img class="img-fluid" src="{% if job.background %}{{ job.background.url }}{% else %}http://res.cloudinary.com/d3/image/upload/c_pad,g_center,h_200,q_auto:eco,w_200/bootstrap-logo_u3c8dx.jpg{% endif %}" alt="Avatar"/>
                                        </div>
                                        <div class="card-custom-avatar">
                                            <img class="img-fluid" src="{% if job.logo %}{{ job.logo.url }}{% else %}http://res.cloudinary.com/d3/image/upload/c_pad,g_center,h_200,q_auto:eco,w_200/bootstrap-logo_u3c8dx.jpg{% endif %}" alt="Avatar"/>
                                        </div>
                                        <div class="card-body" style="overflow-y: auto">
                                            <h4 class="card-title">{{ job.company }}</h4>
                                            <p class="card-text">{{ job.summary }}</p>
                                        </div>
                                        <div class="card-footer" style="background: inherit; border-color: inherit;">
                                            <a href="{% url 'apply' job.id %}" class="btn btn-primary">바로 지원하기</a>
                                            <a href="{{ job.id }}-{{ job.company }}" class="btn btn-outline-primary">자세한 채용 정보</a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>

                    </div>
                </div>
                <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
            </div>

        </div>

    </div>
{% endblock content %}