{% extends "www/base.html" %}
{% load static %}

{% block title %}
로그인 :: 한국교통대학교 수강신청시스템
{% endblock title %}

{% block inject-css %}
    <link rel="stylesheet" href="{% static 'www/vendors/iconfonts/mdi/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'www/vendors/css/vendor.bundle.base.css' %}">
    <link rel="stylesheet" href="{% static 'www/css/style.css' %}"/>
{% endblock inject-css %}

{% block content %}
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper-no-padding d-flex align-items-center auth">
                <div class="row-no-margin p-0 w-100">
{#                    <div class="col-lg-6">#}
{#                        <div class="text-center">#}
{#                            <img src="{% static 'www/images/wallpaper.jpg' %}" width="auto">#}
{#                        </div>#}
{#                    </div>#}
                    <div class="col-12 col-lg-4 mx-auto">
                        <div class="auth-form-light text-left p-3 p-lg-5">
                            <div class="brand-logo">
                                <img src="{% static 'www/images/knut.png' %}">
                            </div>
                            <h3><b>진로추천</b> 수강신청시스템</h3>
                            <h6 class="font-weight-light">계속하려면 로그인하십시오.</h6>
                            <form class="pt-3">
                                <div class="form-group">
                                    <input type="email" class="form-control form-control-lg" id="exampleInputEmail1" placeholder="학번">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control form-control-lg" id="exampleInputPassword1" placeholder="비밀번호">
                                </div>
                                <div class="mt-3">
                                    <a class="btn btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn" href="{% url 'index' %}">로그인</a>
                                </div>
                                <div class="my-2 d-flex justify-content-between align-items-center">
                                    <div class="form-check">
                                        <label class="form-check-label text-muted">
                                            <input type="checkbox" class="form-check-input">
                                            로그인 유지
                                        </label>
                                    </div>
                                    <a href="#" class="auth-link text-black">비밀번호를 잊으셨나요?</a>
                                </div>
{#                                <div class="mb-2">#}
{#                                    <button type="button" class="btn btn-block btn-facebook auth-form-btn">#}
{#                                        <i class="mdi mdi-facebook mr-2"></i>Connect using facebook#}
{#                                    </button>#}
{#                                </div>#}
{#                                <div class="text-center mt-4 font-weight-light">#}
{#                                    Don't have an account? <a href="../../static/www/pages/samples/register.html" class="text-primary">Create</a>#}
{#                                </div>#}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
{% endblock content %}

{% block inject-js %}
    <script src="{% static 'www/vendors/js/vendor.bundle.base.js' %}"></script>
    <script src="{% static 'www/vendors/js/vendor.bundle.addons.js' %}"></script>
    <script src="{% static 'www/js/off-canvas.js' %}"></script>
    <script src="{% static 'www/js/misc.js' %}"></script>
{% endblock inject-js %}
